* {
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-size: 100%;
  margin: 0;
  font-family: 'Heiti TC', 'Microsoft YaHei';
}

body.bg-orange {
  background-color: #cd451d;
}

body.bg-pale {
  background-color: #f8eccf;
}

.game {
  margin: 0 auto;
  display: none;
  height: 100vh;
}

#info {
  text-align: center;
  display: none;
  padding-top: 100px;
}

#law {
  display: none;
}

@media screen and (min-width: 768px) {
  #law {
    width: 600px;
    margin: 0 auto;
    display: block;
  }
}

#law {
  width: 600px;
  margin: 0 auto;
}

#law > div > * {
  margin: 1em auto;
  display: block;
}

#law p {
  font-size: 1.4em;
  margin: 1em;
  padding: 1em;
  line-height: 1.6em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em; /* future proofing */
  -khtml-border-radius: 1em; /* for old Konqueror browsers */
  background-color: rgba(255, 255, 255, 0.7);
}

#law .law {
  margin-top: 4em;
}

#law img {
  text-align: center;
}

.btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn-down {
  display: block;
}

.btn-again {
  width: 178px;
  height: 49px;
}

.btn-again img {
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-again img:hover, .btn-again img:active {
  left: -100%;
}

.btn-share {
  width: 395.5px;
  height: 56px;
}

.btn-share img {
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-share img:hover, .btn-share img:active {
  left: -100%;
}

.btn-more {
  width: 395.5px;
  height: 63px;
}

.btn-more img {
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-more img:hover, .btn-more img:active {
  left: -100%;
}

.margin-small {
  margin: 0.5em auto;
}

.margin-medium {
  margin: 1em auto;
}

.margin-large {
  margin: 2em auto;
}